<div class="wrapper">
    <app-header></app-header>

    <main>
        <table class="products-order-grid">
            <thead>
                <tr>
                    <th>
                        Produto
                    </th>
                    <th>
                        Código do Produto
                    </th>
                    <th>
                        Quantidade
                    </th>
                    <th>
                        Valor Unit.
                    </th>
                    <th>
                        Valor Total
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Produto 1
                    </td>
                    <td>
                        32982
                    </td>
                    <td>
                        x4
                    </td>
                    <td>
                        R$ 1,99
                    </td>
                    <td>
                        R$ 7,96
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <app-footer></app-footer>
</div>