<footer>
    <ul class="ul-footer-us">
        <li><a href="#">Serviços</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Contatos</a></li>
        <li><a href="#">Fale Conosco</a></li>
    </ul>

    <ul class="ul-footer-social">
        <li><a href="#"><i class="bi bi-whatsapp"></i></a></li>
        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
        <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
        <li><a href="#"><i class="bi bi-discord"></i></a></li>
    </ul>
</footer>