<main>
    <section class="left-side">
        <div class="left-content">
            <h1>Beartic Management</h1>
            <span>Gerencie seu negócio de forma simples.</span>
            <button>Saiba mais!</button>
        </div>
    </section>

    <section class="right-side">
        <div class="right-content">
            <div>
                <h2>Bem-Vindo!</h2>
                <span>Autentique-se e tenha o controle do seu negócio.</span>
            </div>

            <div>
                <form class="form-login">
                    <input name="user" type="text" placeholder="Nome de usuário">

                    <input name="password" type="password" placeholder="Senha">

                    <button class="btn-login">Login</button>
                </form>

                <span><a class="link" href="/home">Esqueceu a senha?</a></span>
            </div>
        </div>
    </section>
</main>