* {
    margin: 0;
    padding: 0;
}

.section-presentation {
    background-image: linear-gradient(#0575E6, #1A46B4);
    padding: 1%;
    color: white;
}

.section-presentation h2 {
    padding: 0 0 0 2%;
}

.nav-header {
    box-shadow: 0 0 8px 0 gray;
}

.nav-list {
    display: flex;
    list-style: none;
    width: 100%;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.nav-list li {
    padding: 1% 3%;
    text-align: center;
    position: relative; /* Necessário para posicionar a sublista corretamente */
}

.nav-list a {
    text-decoration: none;
    color: black;
}

.nav-list li:hover {
    transition: .3s;
    background-image: linear-gradient(#0575E6, #1A46B4);
}

.nav-list li:hover a {
    color: white;
}

/* Sublistas (ul dentro de li) inicialmente escondidas */
.nav-list li ul {
    display: none; /* Esconde a sublista */
    position: absolute; /* Posiciona a sublista abaixo do item pai */
    top: 100%; /* Coloca a sublista logo abaixo do item */
    left: 0;
    background-color: #ffffff; /* Cor de fundo da sublista */
    box-shadow: 0 0 5px 0 gray;
    border-radius: 5px; /* Adiciona borda arredondada para um efeito visual mais suave */
}

/* Exibe a sublista quando o item pai for hover */
.nav-list li:hover ul {
    display: block; /* Exibe a sublista */
}

/* Estilo do item da sublista */
.nav-list li ul li {
    padding: 10px;
    text-align: left; /* Ajusta o texto dentro da sublista */
}

/* Quando passar o mouse sobre os itens da sublista */
.nav-list li ul li:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse sobre itens da sublista */
}

.nav-list li ul li a {
    color: black;
    display: block; /* Faz com que o link ocupe toda a área do item */
    padding: 5px 10px; /* Adiciona um padding ao link para aumentar a área clicável */
}

.nav-list li ul li:hover {
    background-image: linear-gradient(#0575E6, #1A46B4);
    color: #f0f0f0; /* Mantenha a cor do texto do link */
}

.nav-list li ul li:hover a {
    color: white;
}
