*{
    margin: 0;
    padding: 0;
}

.section-presentation{
    background-image: linear-gradient(#0575E6, #1A46B4);
    padding: 1%;
    color: white;

    h2{
        padding: 0 0 0 2%;
    }
}

.nav-header{
    box-shadow: 0 0 8px 0 gray;

    .nav-list {
        display: flex;
        list-style: none;
        width: 100%;
        align-items: center;
        font-family: "Roboto", sans-serif;
        li{
            padding: 1% 3%;
            text-align: center;
            a {
                text-decoration: none;
                color: black;
            }
    
            &:hover {
                transition: .3s;
                background-color: #1A46B4; // Cor alterada ao passar o mouse
                
                a{
                    color: white;
                }
            }
        }
    }
}