<div class="product-card-container">
    <div class="card">
        <div class="card-image">
            <img src="assets/teclado.jpg">
        </div>
    
        <div class="card-info">
            <span class="card-name">
                Teclado Congratulations
            </span>
    
            <span class="card-price">
                $199,99
            </span>
        </div>

        <div class="card-actions">
            <button class="btn btn-buy">Comprar</button>
            <button class="btn btn-add-car">Adicionar ao carrinho</button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="assets/teclado.jpg">
        </div>
    
        <div class="card-info">
            <span class="card-name">
                Teclado Congratulations
            </span>
    
            <span class="card-price">
                $199,99
            </span>
        </div>

        <div class="card-actions">
            <button class="btn btn-buy">Comprar</button>
            <button class="btn btn-add-car">Adicionar ao carrinho</button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="assets/teclado.jpg">
        </div>
    
        <div class="card-info">
            <span class="card-name">
                Teclado Congratulations
            </span>
    
            <span class="card-price">
                $199,99
            </span>
        </div>

        <div class="card-actions">
            <button class="btn btn-buy">Comprar</button>
            <button class="btn btn-add-car">Adicionar ao carrinho</button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="assets/teclado.jpg">
        </div>
    
        <div class="card-info">
            <span class="card-name">
                Teclado Congratulations
            </span>
    
            <span class="card-price">
                $199,99
            </span>
        </div>

        <div class="card-actions">
            <button class="btn btn-buy">Comprar</button>
            <button class="btn btn-add-car">Adicionar ao carrinho</button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="assets/teclado.jpg">
        </div>
    
        <div class="card-info">
            <span class="card-name">
                Teclado Congratulations
            </span>
    
            <span class="card-price">
                $199,99
            </span>
        </div>

        <div class="card-actions">
            <button class="btn btn-buy">Comprar</button>
            <button class="btn btn-add-car">Adicionar ao carrinho</button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="assets/teclado.jpg">
        </div>
    
        <div class="card-info">
            <span class="card-name">
                Teclado Congratulations
            </span>
    
            <span class="card-price">
                $199,99
            </span>
        </div>

        <div class="card-actions">
            <button class="btn btn-buy">Comprar</button>
            <button class="btn btn-add-car">Adicionar ao carrinho</button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="assets/teclado.jpg">
        </div>
    
        <div class="card-info">
            <span class="card-name">
                Teclado Congratulations
            </span>
    
            <span class="card-price">
                $199,99
            </span>
        </div>

        <div class="card-actions">
            <button class="btn btn-buy">Comprar</button>
            <button class="btn btn-add-car">Adicionar ao carrinho</button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="assets/teclado.jpg">
        </div>
    
        <div class="card-info">
            <span class="card-name">
                Teclado Congratulations
            </span>
    
            <span class="card-price">
                $199,99
            </span>
        </div>

        <div class="card-actions">
            <button class="btn btn-buy">Comprar</button>
            <button class="btn btn-add-car">Adicionar ao carrinho</button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="assets/teclado.jpg">
        </div>
    
        <div class="card-info">
            <span class="card-name">
                Teclado Congratulations
            </span>
    
            <span class="card-price">
                $199,99
            </span>
        </div>

        <div class="card-actions">
            <button class="btn btn-buy">Comprar</button>
            <button class="btn btn-add-car">Adicionar ao carrinho</button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="assets/teclado.jpg">
        </div>
    
        <div class="card-info">
            <span class="card-name">
                Teclado Congratulations
            </span>
    
            <span class="card-price">
                $199,99
            </span>
        </div>

        <div class="card-actions">
            <button class="btn btn-buy">Comprar</button>
            <button class="btn btn-add-car">Adicionar ao carrinho</button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="assets/teclado.jpg">
        </div>
    
        <div class="card-info">
            <span class="card-name">
                Teclado Congratulations
            </span>
    
            <span class="card-price">
                $199,99
            </span>
        </div>

        <div class="card-actions">
            <button class="btn btn-buy">Comprar</button>
            <button class="btn btn-add-car">Adicionar ao carrinho</button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="assets/teclado.jpg">
        </div>
    
        <div class="card-info">
            <span class="card-name">
                Teclado Congratulations
            </span>
    
            <span class="card-price">
                $199,99
            </span>
        </div>

        <div class="card-actions">
            <button class="btn btn-buy">Comprar</button>
            <button class="btn btn-add-car">Adicionar ao carrinho</button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="assets/teclado.jpg">
        </div>
    
        <div class="card-info">
            <span class="card-name">
                Teclado Congratulations
            </span>
    
            <span class="card-price">
                $199,99
            </span>
        </div>

        <div class="card-actions">
            <button class="btn btn-buy">Comprar</button>
            <button class="btn btn-add-car">Adicionar ao carrinho</button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="assets/teclado.jpg">
        </div>
    
        <div class="card-info">
            <span class="card-name">
                Teclado Congratulations
            </span>
    
            <span class="card-price">
                $199,99
            </span>
        </div>

        <div class="card-actions">
            <button class="btn btn-buy">Comprar</button>
            <button class="btn btn-add-car">Adicionar ao carrinho</button>
        </div>
    </div>
</div>

