<div class="wrapper">
    <app-header></app-header>

    <main>
        <section class="search-container">
            <input type="search" placeholder="Nome do Produto">

            <select>
                <option selected disabled>Selecione uma Categoria</option>
                <option value="x">Produto 1</option>
                <option value="y">Produto 2</option>
                <option value="z">Produto 3</option>
            </select>
        </section>

        <app-product-card></app-product-card>
    </main>

    <app-footer></app-footer>
</div>